{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
			<p>
				Please select your passwords in the correct order from the grid below.
			</p>
		</div>
    </div>
    <div class="container" id='incorrectPassword' style="display: none">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                  Incorrect Password!!!
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% for password in pw %}

    	{% if loop.index0 % 3 == 0 %}
  		<div class="row">
  		{% endif %}

    		<div class="col">
    			{% if loop.last %}
    				<button class="btn btn-primary btn-lg offset-md-4" value="{{ password }}">{{password}}</button>
    			{% else %}
    				<button class="btn btn-primary btn-lg" value="{{ password }}">{{ password }}</button>
  
    			{% endif %}
    		</div>
  		{% if loop.index0 % 3 == 2 or loop.last %}
			</div>
        {% endif %}
   		{% endfor %}
    </div>

{% endblock %}

{% block scripts %}
<script>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'login.js') }}" ></script>
{% endblock %}
